.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  width: 1148px;
}

.searchBar {
  height: 40px;
  width: 300px;
}

b {
  font-size: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 1150px;
}

.ids {
  display: none;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #302f2f;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

button {
  background-color: #000 !important;
  color: #fff;
  height : 50px;
}

h4 {
  width: 200px;
  font-size: 15px;
}
